Anywhere.json
{
  "name": "Anywhere",
  "nodes": [
    {
      "parameters": {
        "command": "wg-quick up wg0"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        320,
        688
      ],
      "id": "75742e1b-e28c-47e3-8477-1ebe308355b1",
      "name": "wg-up",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": \"server started successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1264,
        544
      ],
      "id": "8b9ed47b-7e0b-4e6b-8423-726ebc7ee6d6",
      "name": "start-success"
    },
    {
      "parameters": {
        "command": "wg-quick down wg0"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -288,
        1232
      ],
      "id": "45f54da7-6168-40fc-828f-f3b1384fd2e2",
      "name": "wg-down",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {{ JSON.stringify($json.stderr) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -64,
        1232
      ],
      "id": "f8ace2f7-3572-4ba0-b270-2e8bd29fc3b3",
      "name": "stop-success"
    },
    {
      "parameters": {
        "command": "wg"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -288,
        1584
      ],
      "id": "844e0942-71b6-4a75-a59f-9c0cafbe2667",
      "name": "wg-list",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c09a33f-80a9-4bfa-9c74-9f91d3ff765c",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        1584
      ],
      "id": "50e21785-9421-4d4a-a42a-a0f0eccd431e",
      "name": "status-if"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {{ JSON.stringify($json.stdout) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        1488
      ],
      "id": "30068b54-5336-4782-8ce6-9d116a1e1ad3",
      "name": "status-success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"result\": \"No records found\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        1680
      ],
      "id": "e14604eb-e374-408d-81f1-ae3b52110bb8",
      "name": "status-failed"
    },
    {
      "parameters": {
        "path": "start",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        832
      ],
      "id": "1a850a21-c9b8-4251-9c18-44dc8fe2308d",
      "name": "start",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "path": "status",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1584
      ],
      "id": "0e5e5d36-6b87-42be-8593-2484a35ad934",
      "name": "status",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        2016
      ],
      "id": "762c8355-6a1c-42be-935b-bb4a46b7d851",
      "name": "add",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "command": "=address=10.0.0.{{ $json.ip }} /scripts/add-peer.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        576,
        1920
      ],
      "id": "55b7d7c0-2e2d-4c0f-b713-f5dc737d2b27",
      "name": "wg-add",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "path": "stop",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        1232
      ],
      "id": "d5449cc6-bc69-4b0d-8ffa-c679a45ca296",
      "name": "stop",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {\n      \"name\": \"{{ $json.peer.name }}\",\n      \"private_key\": \"{{ $json.peer.private_key }}\",\n      \"public_key\": \"{{ $json.peer.public_key }}\",\n      \"ip\": \"{{ $json.peer.ip }}\",\n      \"id\": \"{{ $json._id }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1600,
        1920
      ],
      "id": "416bc642-090f-412d-b5fb-01e55003aac7",
      "name": "add-success"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "remove",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        2384
      ],
      "id": "c4739dc2-9b41-4a02-9bdf-2745ad973df9",
      "name": "remove",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188"
    },
    {
      "parameters": {
        "command": "=Public_key={{ $json.body.public_key }} /scripts/remove-peer.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -272,
        2384
      ],
      "id": "6e720a8f-690f-4f0a-b039-4ced8e541ffd",
      "name": "wg-remove",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": \"Peer removed successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        2384
      ],
      "id": "51f33c37-6125-438b-a4c3-c61bf4c8b6dc",
      "name": "remove-success"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "block",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        2656
      ],
      "id": "3bc0d120-c747-4d55-85fa-72fbe5283b8c",
      "name": "block",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "command": "=Public_key={{ $json.body.public_key }} /scripts/block-ip.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -272,
        2656
      ],
      "id": "13460e17-b2be-4f86-8cad-83753a5c7b33",
      "name": "wg-block",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": \"connectin blocked\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        2656
      ],
      "id": "10f73e80-3c95-4387-badc-047c113fc0a4",
      "name": "block-success"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "unblock",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        2896
      ],
      "id": "6713d20e-52d2-4d87-abbd-1c55ad7443f4",
      "name": "unblock",
      "webhookId": "64ac9f29-a470-4567-8808-b0ac1aa03188",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "command": "=Public_key={{ $json.body.public_key }} address=10.0.0.{{ $json.body.ip }} /scripts/unblock-ip.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -272,
        2896
      ],
      "id": "9c90e8f8-eaeb-48f2-a4fb-b3a43d74cc0d",
      "name": "wg-unblock",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        144
      ],
      "id": "2a6a59a2-2fa6-4c28-a3a8-868b6d16d24e",
      "name": "register",
      "webhookId": "2d61d479-e6ad-4693-955d-7c26d0faff2b"
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n  \"password\": \"{{ $json.body.password }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "44bc2f73-33bb-4224-af6f-572fa2315d3f",
      "name": "encrypt",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "846bdcca-2fb9-4691-bbbe-0a298da5b248",
              "name": "password",
              "value": "={{ $json.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "37fe8f8c-5d6d-49f2-9520-be6f0d754b5c",
      "name": "format"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "passwords",
        "fields": "password",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        432,
        0
      ],
      "id": "ce083097-0e72-4d81-8d65-06904b58bbb2",
      "name": "create",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "ipstore",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        1920
      ],
      "id": "677b2e8f-6665-4e5f-a151-8a4c3ae5e804",
      "name": "ip-lookup",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "interface",
        "fields": "interface",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1056,
        0
      ],
      "id": "3d549af5-2a2f-4370-ad79-e032249a551f",
      "name": "store",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c90abb89-91c5-4892-8cd9-73ed795ef886",
              "leftValue": "={{ $json.ip }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        832
      ],
      "id": "b2245de1-b1ca-4a9d-9226-d81e5fbc0223",
      "name": "start-if"
    },
    {
      "parameters": {
        "collection": "ipstore",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -304,
        832
      ],
      "id": "9d32c614-d817-4414-9379-cb5184a6f774",
      "name": "store-lookup",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ip\": {{ Array.from({ length: 253 }, (_, i) => 2 + i) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        944
      ],
      "id": "9610169f-2c09-4a00-a8dc-213cd9b00ca4",
      "name": "create-ip"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "ipstore",
        "fields": "ip",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        320,
        944
      ],
      "id": "e7d4bf48-66ad-4acc-90e4-13b8436c9b42",
      "name": "ip-store",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "wg-quick up wg0"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        528,
        944
      ],
      "id": "0929dfb1-9199-4d5e-b0f6-e0feefc2017d",
      "name": "wg-1-up",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {{ JSON.stringify($json.stderr) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        736,
        944
      ],
      "id": "2dce1c6d-4e4c-4142-bc90-8ad27e54ab1e",
      "name": "start-1-success"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"ip\": {{ $json.ip[0] }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        1920
      ],
      "id": "b11f1338-f3f1-4f5f-8212-9886db3afa9e",
      "name": "ip-slice"
    },
    {
      "parameters": {
        "jsCode": "let array = $('ip-lookup').first().json.ip\narray.shift()\n\nreturn {\n  _id: $('ip-lookup').first().json._id,\n  ip: array\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1920
      ],
      "id": "e2ed51df-31d9-410d-bbc6-71db4a586a01",
      "name": "ip-shift"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "ipstore",
        "updateKey": "_id",
        "fields": "ip",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        992,
        1920
      ],
      "id": "312c037c-5001-4a49-85d0-449a8bb5b1a6",
      "name": "ip-update",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "wg"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -288,
        2016
      ],
      "id": "6a8348ca-60bb-4d61-938e-5fa447fb4060",
      "name": "wg-1-list",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"result\": \"WireGuard interface is not active.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        2112
      ],
      "id": "37a8798a-768b-44c3-bf02-c8211e199eed",
      "name": "add-failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c09a33f-80a9-4bfa-9c74-9f91d3ff765c",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -80,
        2016
      ],
      "id": "cc1b4bed-ad5d-4955-9295-d6f69613f12a",
      "name": "status-1-if"
    },
    {
      "parameters": {
        "jsCode": "let peer = {\n  name: $('add').first().json.body.name,\n  private_key: JSON.parse($('wg-add').first().json.stdout)['private_key'],\n  public_key: JSON.parse($('wg-add').first().json.stdout)['public_key'],\n  ip: $('ip-slice').first().json.ip,\n  connection: true\n}\n\nreturn peer"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1920
      ],
      "id": "6cc703a4-18a1-417a-a8c3-50ae2f955019",
      "name": "generate-peer"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "peers",
        "fields": "name,private_key,public_key,ip,connection",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1408,
        1920
      ],
      "id": "686c40c5-ca9e-4354-bda3-73c4652a0a0d",
      "name": "save-peer",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "peers",
        "query": "={ \n  \"$expr\": { \n    \"$eq\": [\n      \"$_id\", \n      { \"$toObjectId\": \"{{ $('remove').item.json.body.id }}\" }\n    ] \n  }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -64,
        2384
      ],
      "id": "adb04ed1-3284-4dc5-82bb-084936ce68e9",
      "name": "delete-peer",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "ipstore",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        2384
      ],
      "id": "c9a8d8ba-6f7e-4314-9485-afca3e37b46d",
      "name": "list-ip",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let array = $input.first().json.ip\narray.unshift($('remove').first().json.body.ip)\n\nreturn {\n  _id: $input.first().json._id,\n  ip: array\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        2384
      ],
      "id": "d7c86d7f-3f8a-478c-9fa3-623813d2c75c",
      "name": "unshift-ip"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "ipstore",
        "updateKey": "_id",
        "fields": "ip",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        576,
        2384
      ],
      "id": "eb3c7bd4-f5ae-4c39-ba9f-fb493fbe84fd",
      "name": "update-ip",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "command": "/scripts/create-interface.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "ee1802d3-5ff1-4a65-a0a9-c9f18fe0327b",
      "name": "create-interface",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "path": "peers",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        3216
      ],
      "id": "c8d4564b-4636-46ea-8e2d-d27d60bb285e",
      "name": "peers",
      "webhookId": "5556a7ad-e3c4-49d5-85fb-3ecba05daa84",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "collection": "peers",
        "options": {},
        "query": "={}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -272,
        3216
      ],
      "id": "8e664f65-28c3-4e2f-9a44-b1374d4e942a",
      "name": "read-peers",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let keys = JSON.parse($('create-interface').first().json.stdout)\n\nlet interface = {\n  interface: $('register').first().json.body.interface,\n  endpoint: $('register').first().json.body.endpoint,\n  private_key: keys['private_key'],\n  public_key: keys['public_key']\n}\n\nreturn {\n  interface: interface\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        0
      ],
      "id": "dde4150d-0f62-41ed-ad0d-1b283433c858",
      "name": "frame-interface"
    },
    {
      "parameters": {
        "jsCode": "return {\n  _id: $('block').first().json.body.id,\n  connection: $('block').first().json.body.connection\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        2656
      ],
      "id": "213d0354-c8f3-457b-b6e3-3e8c980a18fc",
      "name": "frame-1-update"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "peers",
        "updateKey": "_id",
        "fields": "connection",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        2656
      ],
      "id": "e73f1084-6f76-4c97-88d9-a675665dcd72",
      "name": "update-1-connection",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  _id: $('unblock').first().json.body.id,\n  connection: $('unblock').first().json.body.connection\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        2896
      ],
      "id": "5ce103dc-ecb1-4856-950e-265a5c460e35",
      "name": "frame-2-update"
    },
    {
      "parameters": {
        "operation": "update",
        "collection": "peers",
        "updateKey": "_id",
        "fields": "connection",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        160,
        2896
      ],
      "id": "e916aa4c-cb9b-42fd-9fc7-e3455a9ef65e",
      "name": "update-2-connection",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": \"connection unblocked\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        2896
      ],
      "id": "27534f71-d39e-4051-8ca2-c6484069ef76",
      "name": "unblock-success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e3ba91f-d375-4c48-a819-49132ed72893",
              "leftValue": "={{ $json.public_key }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        3216
      ],
      "id": "2f686dee-766f-4443-b49a-23cce8997fe9",
      "name": "read-if"
    },
    {
      "parameters": {
        "jsCode": "let list = $input.all()\nlet peers = []\n\nfor(let i=0; i<list.length; i++){\n  peers.push(list[i]['json'])\n}\n\nreturn {\n  peers: peers\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        3120
      ],
      "id": "37b34e78-f1c3-46eb-9a30-79f8d28b64df",
      "name": "list-1-peers"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"peers\": {{ JSON.stringify($json.peers) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        3120
      ],
      "id": "349d043d-e756-41a8-a7ac-67f15c692608",
      "name": "peer-1-response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"peers\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        3312
      ],
      "id": "f3c76661-586c-4102-9d5f-81e665f78b79",
      "name": "peer-2-response"
    },
    {
      "parameters": {
        "collection": "peers",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        528,
        688
      ],
      "id": "03cbda36-1029-416b-bc3d-0a429449c5cd",
      "name": "get-peers",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let peers = $input.all()\nlet array = []\n\nfor(let i=0; i<peers.length; i++){\n  array.push(peers[i]['json'])\n}\n\nreturn array"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        688
      ],
      "id": "858456f8-ce4f-4c93-9db2-12cb6d0ebf1e",
      "name": "peers-array"
    },
    {
      "parameters": {
        "batchSize": "={{ $input.all().length }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        688
      ],
      "id": "c6cd24a4-981d-49a4-b443-4ed5c6ad6874",
      "name": "loop-peers"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ad1e45a-e829-444b-bdd1-b706d6445068",
              "leftValue": "={{ $json.connection }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1264,
        784
      ],
      "id": "f6886b9c-ea1a-4062-a644-f86da9d96b3e",
      "name": "If"
    },
    {
      "parameters": {
        "command": "=address=10.0.0.{{ $json.ip }} public_key={{ $json.public_key }} private_key={{ $json.private_key }} /scripts/revive-peer.sh",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1472,
        672
      ],
      "id": "97b17d81-4e13-4844-8c7a-81bf147e8b3e",
      "name": "add-looped-peers-1",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=Public_key={{ $('loop-peers').item.json.public_key }} /scripts/block-ip.sh"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1664,
        864
      ],
      "id": "d46d56b5-136a-4da4-a029-b0b2d1b00f12",
      "name": "wg-block-looped",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "=address=10.0.0.{{ $('loop-peers').item.json._id }} public_key={{ $('loop-peers').item.json.public_key }} private_key={{ $('loop-peers').item.json.private_key }} /scripts/revive-peer.sh",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1472,
        864
      ],
      "id": "0d939db3-5895-4960-8840-a59018430617",
      "name": "add-looped-peers-2",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "path": "factory-reset",
        "authentication": "jwtAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        3568
      ],
      "id": "851921a5-8137-4df2-aba9-289c592d6297",
      "name": "factory-reset",
      "webhookId": "07204de2-0f55-47de-bb76-6141eafdfb10",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "command": "wg-quick down wg0"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -272,
        3568
      ],
      "id": "7491bdff-4cd3-4306-a1bc-fe172d555a34",
      "name": "wg-reset",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "command": "rm -rf /etc/wireguard/wg0.conf"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -64,
        3568
      ],
      "id": "0f7ecdab-e3bd-470f-ab7d-f9df1be1c0a7",
      "name": "remove-interface",
      "credentials": {
        "sshPassword": {
          "id": "VFHtiPe4ZLsseW5a",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "interface"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        144,
        3568
      ],
      "id": "d2f2b5ff-1e07-45ff-8a20-431fd2bee366",
      "name": "delete-interface",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "ipstore"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        352,
        3568
      ],
      "id": "07e86a9b-baa5-487d-a021-c007a698737e",
      "name": "delete-ipstore",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "passwords"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        560,
        3568
      ],
      "id": "9d170f74-4a77-4c83-8464-145eb05590d3",
      "name": "delete-passwords",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "peers"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        768,
        3568
      ],
      "id": "3aa19c39-97e4-4c3d-b94f-26cd6f563d05",
      "name": "delete-peers",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"result\": \"Factory reset successfully executed\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        3568
      ],
      "id": "7fc9687a-33c6-4b2c-8b6f-4f4344827c75",
      "name": "reset-response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77dbeff1-7003-47ac-96b7-6c4a2c4ec081",
              "leftValue": "={{ $json.body.uid }}",
              "rightValue": "noid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -304,
        144
      ],
      "id": "9f799a6b-5d7c-492b-a94d-958ca58f7d6c",
      "name": "register-if"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {\n    \"uid\": \"{{ $('create').item.json._id }}\",\n    \"id\": \"{{ $json._id }}\",\n    \"token\": \"{{ $('encrypt').item.json.token }}\",\n    \"key\": \"{{ JSON.parse($('create-interface').item.json.stdout)['public_key'] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        0
      ],
      "id": "6e6d1957-7d0e-418a-bcc7-399394a62c37",
      "name": "register-1-success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"result\": {\n    \"uid\": \"{{ $('register').item.json.body.id }}\",\n    \"token\": \"{{ $json.password }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1248,
        192
      ],
      "id": "dc145cb3-974a-4ca8-b7a1-9605d47b4089",
      "name": "register-2-success"
    },
    {
      "parameters": {
        "collection": "passwords",
        "options": {},
        "query": "={ \n  \"$expr\": { \n    \"$eq\": [\n      \"$_id\", \n      { \"$toObjectId\": \"{{ $('register').item.json.body.uid }}\" }\n    ] \n  }\n}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        272
      ],
      "id": "40e4da15-eb9b-4f22-983a-0be2294651cb",
      "name": "find-password",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "decode",
        "token": "={{ $json.password }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        208,
        272
      ],
      "id": "755a25d9-1088-4687-b2d1-45fd97c35cab",
      "name": "decode",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "986f9cad-74bc-4dea-b5f6-a872153b9380",
              "leftValue": "={{ $('register').item.json.body.password }}",
              "rightValue": "={{ $json.payload.password }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        272
      ],
      "id": "629c7f03-f057-4ff8-a397-ce189aa6d0a7",
      "name": "password-if"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"failed\",\n  \"result\": \"Invalid password\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        640,
        400
      ],
      "id": "6de27fdf-f601-4c7b-8afe-d899916812d6",
      "name": "register-2-failed"
    },
    {
      "parameters": {
        "useJson": true,
        "claimsJson": "={\n  \"password\": \"{{ $('register').item.json.body.password }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        640,
        192
      ],
      "id": "4a550a5d-e1ed-4089-9ad4-8b6c08c16208",
      "name": "new-sign",
      "credentials": {
        "jwtAuth": {
          "id": "03dNuaEarG6hIZ13",
          "name": "JWT Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "passwords",
        "updateKey": "_id",
        "fields": "password",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1056,
        192
      ],
      "id": "b5f0f67e-c7f3-4ae6-a8cc-58a63a9d50bf",
      "name": "update-password",
      "credentials": {
        "mongoDb": {
          "id": "dFCAAhoGqQ9zRqbo",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  _id: $('register').first().json.body.uid,\n  password: $input.first().json.token\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        192
      ],
      "id": "1fc9221a-e8d3-4afe-89f1-b2270a9bf4df",
      "name": "frame-update"
    }
  ],
  "pinData": {},
  "connections": {
    "wg-up": {
      "main": [
        [
          {
            "node": "get-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-down": {
      "main": [
        [
          {
            "node": "stop-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-list": {
      "main": [
        [
          {
            "node": "status-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status-if": {
      "main": [
        [
          {
            "node": "status-success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "status-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "store-lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status": {
      "main": [
        [
          {
            "node": "wg-list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add": {
      "main": [
        [
          {
            "node": "wg-1-list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-add": {
      "main": [
        [
          {
            "node": "ip-shift",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stop": {
      "main": [
        [
          {
            "node": "wg-down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove": {
      "main": [
        [
          {
            "node": "wg-remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-remove": {
      "main": [
        [
          {
            "node": "delete-peer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "block": {
      "main": [
        [
          {
            "node": "wg-block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-block": {
      "main": [
        [
          {
            "node": "frame-1-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unblock": {
      "main": [
        [
          {
            "node": "wg-unblock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-unblock": {
      "main": [
        [
          {
            "node": "frame-2-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "register": {
      "main": [
        [
          {
            "node": "register-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "encrypt": {
      "main": [
        [
          {
            "node": "format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format": {
      "main": [
        [
          {
            "node": "create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create": {
      "main": [
        [
          {
            "node": "create-interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-lookup": {
      "main": [
        [
          {
            "node": "ip-slice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store": {
      "main": [
        [
          {
            "node": "register-1-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start-if": {
      "main": [
        [
          {
            "node": "wg-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "create-ip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store-lookup": {
      "main": [
        [
          {
            "node": "start-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-ip": {
      "main": [
        [
          {
            "node": "ip-store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-store": {
      "main": [
        [
          {
            "node": "wg-1-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-1-up": {
      "main": [
        [
          {
            "node": "start-1-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-slice": {
      "main": [
        [
          {
            "node": "wg-add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-shift": {
      "main": [
        [
          {
            "node": "ip-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ip-update": {
      "main": [
        [
          {
            "node": "generate-peer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-1-list": {
      "main": [
        [
          {
            "node": "status-1-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "status-1-if": {
      "main": [
        [
          {
            "node": "ip-lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate-peer": {
      "main": [
        [
          {
            "node": "save-peer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save-peer": {
      "main": [
        [
          {
            "node": "add-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-peer": {
      "main": [
        [
          {
            "node": "list-ip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list-ip": {
      "main": [
        [
          {
            "node": "unshift-ip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "unshift-ip": {
      "main": [
        [
          {
            "node": "update-ip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-ip": {
      "main": [
        [
          {
            "node": "remove-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create-interface": {
      "main": [
        [
          {
            "node": "frame-interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "peers": {
      "main": [
        [
          {
            "node": "read-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-peers": {
      "main": [
        [
          {
            "node": "read-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "frame-interface": {
      "main": [
        [
          {
            "node": "store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "frame-1-update": {
      "main": [
        [
          {
            "node": "update-1-connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-1-connection": {
      "main": [
        [
          {
            "node": "block-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "frame-2-update": {
      "main": [
        [
          {
            "node": "update-2-connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-2-connection": {
      "main": [
        [
          {
            "node": "unblock-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read-if": {
      "main": [
        [
          {
            "node": "list-1-peers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "peer-2-response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "list-1-peers": {
      "main": [
        [
          {
            "node": "peer-1-response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-peers": {
      "main": [
        [
          {
            "node": "peers-array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "peers-array": {
      "main": [
        [
          {
            "node": "loop-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop-peers": {
      "main": [
        [
          {
            "node": "start-success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "add-looped-peers-1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "add-looped-peers-2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-looped-peers-1": {
      "main": [
        [
          {
            "node": "loop-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-block-looped": {
      "main": [
        [
          {
            "node": "loop-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-looped-peers-2": {
      "main": [
        [
          {
            "node": "wg-block-looped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "factory-reset": {
      "main": [
        [
          {
            "node": "wg-reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "wg-reset": {
      "main": [
        [
          {
            "node": "remove-interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "remove-interface": {
      "main": [
        [
          {
            "node": "delete-interface",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-interface": {
      "main": [
        [
          {
            "node": "delete-ipstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-ipstore": {
      "main": [
        [
          {
            "node": "delete-passwords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-passwords": {
      "main": [
        [
          {
            "node": "delete-peers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-peers": {
      "main": [
        [
          {
            "node": "reset-response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "register-if": {
      "main": [
        [
          {
            "node": "encrypt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "find-password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find-password": {
      "main": [
        [
          {
            "node": "decode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "decode": {
      "main": [
        [
          {
            "node": "password-if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "password-if": {
      "main": [
        [
          {
            "node": "new-sign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "register-2-failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new-sign": {
      "main": [
        [
          {
            "node": "frame-update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-password": {
      "main": [
        [
          {
            "node": "register-2-success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "frame-update": {
      "main": [
        [
          {
            "node": "update-password",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c52e1c54-3aff-4fd6-b788-c81f872f634d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dfa4ae8587432eba8035fb642acb8b34d3425a6785017ddb755dbe1e433ca00"
  },
  "id": "ls_skpYil7ba2N8OUxdae",
  "tags": []
}